.row
  .col-md-8.col-md-offset-2
    = form_for @article, html: { multipart: true } do |f|
      = f.label :title
      = f.text_field :title, class: 'form-control'

      = f.label :content
      = f.text_area :content, class: 'form-control'

      = f.label :author_name
      = f.text_field :author_name, class: 'form-control'

      = f.fields_for :thumbnail do |p|
        = p.label :thumbnail
        = p.file_field :data

      = f.submit "Submit", class: "btn btn-primary"


