.row
  .col-md-8.col-md-offset-2
    = form_for @post, html: { multipart: true } do |f|
      = f.label :title
      = f.text_field :title, class: 'form-control'

      = f.label :content
      = f.text_area :content, class: 'form-control'

      = f.label :author_name
      = f.text_field :author_name, class: 'form-control'

      = f.fields_for :picture do |p|
        = p.label :picture
        = p.file_field :data

      = f.fields_for :parameters do |p|
        = p.label :category
        = p.select(:category,
                   options_for_select([ 'Rails', 'Ruby', 'Ruby on Rails' ],
                                      selected: @post.category),
                   class: 'form-control')
        br

        = p.label :title_size
        = p.select(:title_size,
                   options_for_select([ 'small', 'normal', 'big' ],
                                      selected: @post.title_size),
                   class: 'form-control')
        br

      = f.label "Tags"
      = select_tag(:tag_ids,
                   options_from_collection_for_select(@tags, :id, :name,
                                                      @post.tag_ids),
                   multiple: true, class: 'form-control')
      br

      = f.submit "Submit", class: "btn btn-primary"

javascript:
  $(document).ready(function() {
    $("#tag_ids").select2({ theme: "bootstrap" });

    $("#post_parameters_category").select2({
      theme: "bootstrap"
    });

    $("#post_parameters_title_size").select2({
      theme: "bootstrap"
    });

    $('#post_picture_attributes_data').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 10) {
        alert('Maximum file size is 10MB. Please choose a smaller file.');
      }
    });
  });


