h1 Rails project

h2
  = link_to "Create new post", new_post_path

h2
  = link_to 'Go to the index', root_url

- if @posts.any?
  table class="table table-hover table-bordered"
    caption Posts
    thead
      tr
        th Title
        th Author name
        th Content
        th Actions
    tbody
      = render @posts
