<h1>Rails project</h1>

<h2>
  <%= link_to "Create new post", new_post_path %>
</h2>

<h2>
  <%= link_to 'Go to the index', root_url %>
</h2>

<% if @posts.any? %>
  <table class="table table-hover table-bordered">
    <caption>Posts</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author name</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @posts %>
    </tbody>
  </table>
<% end %>
