h2
  = link_to 'Go to the posts', posts_path

.container
  .row
    table class="table table-hover table-bordered"
      thead
        tr
          th Title
          th Author name
          th Content
          th Actions
      tbody
        tr
          td class="col-md-2"
            = @post.title
          td class="col-md-2"
            = @post.author_name
          td class="col-md-6"
            = @post.content
            br
            - if @post.picture
              = image_tag @post.picture.data_url
          td class="col-md-2"
            .btn-group
              button [ type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" ]
                ' Actions
                span class="caret"
              ul class="dropdown-menu"
                li = link_to 'Edit', edit_post_path(@post)
                li = link_to 'Delete', @post, method: :delete,
                       data: { confirm: "Are you sure?" }

    - if @post_tags.any?
      .well
        p Tags:
        - @post_tags.each do |tag|
          ' #{link_to tag.name, tag}
      hr


    .row
      .col-md-8.col-md-offset-2
        .well
          h4 Leave a Comment:
          = render partial: "comments/form", locals: { commentable: @post}

    - if @post.comments.any?
      .row
        .col-md-8.col-md-offset-2
          hr
          = render @post.comments

